@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

:root {
  font-size: 17px;
  --background-primary: 242, 246, 235;
  --background-secondary: 63, 76, 88;
  --background-third: 203, 18, 33, 0.34;
  --background-accent: 203, 18, 34;
  --background-dark-primary: 43, 54, 64;
  --background-dark-secondary: 242, 246, 235;
  --background-dark-third: 21, 25, 29;
  --background-dark-accent: rgb(243, 182, 31);

  --fontcolor-main: #2c3640;
  --fontcolor-secondary: #f2f6eb;
  --fontcolor-accent: #bcbcbc;
  --fontcolor-pop: rgb(203, 18, 34);
  --fontcolor-dark-main: #f2f6eb;
  --fontcolor-dark-secondary: #2c3640;
  --fontcolor-dark-accent: #bcbcbc;

  --main-transition: all 0.1s ease-in-out;
  --box-shadow1: rgba(0, 0, 0, 0.4) 3px 3px 8px;
  --box-shadow2: rgba(0, 0, 0, 0.4) 5px 5px 22px;
  --box-shadow-dark-mode: rgba(185, 184, 184, 0.2) 3px 3px 8px;
  --box-shadow-nav: rgba(172, 172, 172, 0.2) 2px 2px 5px;
}

body {
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  background-attachment: fixed;
  background-color: rgba(var(--background-primary));
  color: var(--fontcolor-main);
  overscroll-behavior-y: none;
}

.fixed-position {
  overflow: hidden;
}

.master-container {
  max-width: 2400px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 5;
}

.paragraph-text {
  padding-bottom: 0.5rem;
  line-height: 1.3;
}

/* SECTION STYLES  */

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container span {
  width: 80%;
  max-width: 1100px;
  padding: 2.5rem 0;
  
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  margin-bottom: 2rem;
}

.title-decoration {
  height: 1px;
  background-color: var(--fontcolor-main);
}

#intro,
#technologies,
#about,
#work,
#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-content,
.contact-content {
  padding: 0 3rem 1rem;
}

.about-section, 
.technologies-section {
  min-height: 375px;
}

/* NAV STYLES  */

.nav-logo {
  width: 62px;
  cursor: pointer;
}

.nav-container.no-background {
  background-color: rgba(var(--background-primary), 0);
}

.nav-container.nav-shadow {
  background-color: rgba(var(--background-primary), 0.85);
  box-shadow: 2px 2px 5px #00000010;
}

.dark-mode-toggle {
  position: absolute;
  top: 17px;
  left: 25px;
  border: 1.5px solid;
  padding: 2px 9px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.dark-mode-toggle:hover {
  color: var(--fontcolor-pop);
  border-radius: 0.3rem;
}

.hamburger {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.burger-lines {
  background-color: rgb(var(--background-secondary));
  height: 3px;
  width: 35px;
  margin-bottom: 7px;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.burger-lines:nth-child(1) {
  margin-top: 7px;
}

.animate-burger:nth-child(1) {
  transform: rotate(45deg) translate(9px, 6px);
}

.animate-burger:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}

.animate-burger:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -6px);
}

.mobile-nav-link {
  color: var(--fontcolor-main);
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
  font-size: 1.5rem;
  margin-bottom: 30px;
  transition: all 0.3s;
}

.mobile-nav-link:hover {
  color: var(--fontcolor-pop);
}

.mobile-nav-link.dark-mode-toggle {
  margin-bottom: 0;
  font-size: 1rem;
  transition: all 0.2s ease-out;
}

.email {
  display: none;
}

.social-link img {
  -webkit-filter: invert(16%) sepia(11%) saturate(1177%) hue-rotate(169deg)
    brightness(98%) contrast(88%);
  filter: invert(16%) sepia(11%) saturate(1177%) hue-rotate(169deg)
    brightness(98%) contrast(88%);
  height: 20px;
  width: 25px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.social-link img:hover {
  -webkit-filter: invert(21%) sepia(63%) saturate(4118%) hue-rotate(343deg)
    brightness(78%) contrast(107%);
  filter: invert(21%) sepia(63%) saturate(4118%) hue-rotate(343deg)
    brightness(78%) contrast(107%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 2400px;
  border-bottom: rgb(var(--background-secondary)) 1px solid;
}

.mobile-nav {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-size: 1.05rem;
}

.main-nav-right {
  display: flex;
  align-items: center;
}

.main-nav-right > * {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: var(--fontcolor-main);
  font-weight: 500;
  margin-left: 25px;
  padding-bottom: 3px;
  background-image: linear-gradient(var(--fontcolor-pop), var(--fontcolor-pop));
  background-position: 0 100%;
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  transition: background-size 0.2s, background-position 0s 0.2s;
}

.nav-link:hover {
  color: var(--fontcolor-pop);
  background-position: 100% 100%;
  background-size: 100% 1.5px;
}

.dark-mode-toggle {
  position: relative;
  top: 0;
  left: 0;
  font-size: 0.85rem;
}

.socials-mobile {
  display: none;
}

.socials-mobile img {
  -webkit-filter: invert(95%) sepia(7%) saturate(290%) hue-rotate(188deg)
    brightness(91%) contrast(98%);
  filter: invert(95%) sepia(7%) saturate(290%) hue-rotate(188deg)
    brightness(91%) contrast(98%);
  margin: 3rem 1rem 1rem;
}

.socials-mobile img:hover {
  -webkit-filter: invert(23%) sepia(80%) saturate(4294%) hue-rotate(343deg)
    brightness(77%) contrast(108%);
  filter: invert(23%) sepia(80%) saturate(4294%) hue-rotate(343deg)
    brightness(77%) contrast(108%);
}

/* INTRO SECTION  */

.intro-section {
  position: relative;
  height: 100vh;
  max-height: 1000px;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.intro-background {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: 'url("../imgs/background.svg")';
  object-fit: cover;
  background-repeat: no-repeat;
  transition: opacity 0.3s ease;
  opacity: 1;
  z-index: -10;
}

.intro-content {
  display: flex;
  justify-content: space-between;
}

.intro-text-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4rem;
}

.intro-text-container-right .paragraph-text {
  margin-bottom: 1.4rem;
  text-align: center;
}

.intro-greeting,
#dark-mode .intro-greeting {
  display: flex;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: var(--fontcolor-main);
}

.greeting-name,
#dark-mode .greeting-name {
  display: flex;
  align-items: flex-end;
  margin-top: -1.2rem;
  font-size: 4.5rem;
  font-family: "Poppins", sans-serif;
  color: rgb(var(--background-secondary));
  color: rgba(var(--background-secondary), 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--fontcolor-main);
}

.greeting-name > a,
#dark-mode .greeting-name > a {
  height: 75px;
  margin-bottom: -1px;
  font-size: 4.5rem;
  font-family: "Poppins", sans-serif;
  color: rgb(var(--background-secondary));
  color: rgba(var(--background-secondary), 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--fontcolor-main);
}

.pulse,
#dark-mode .pulse {
  display: flex;
  align-items: flex-end;
  margin-right: 1.4rem;
  transition: color 0.2s ease-out;
  animation: pulse 1.2s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.055);
  }
  100% {
    transform: scale(1);
  }
}

.greeting-name > a:hover {
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: var(--fontcolor-pop);
}

.pulse:hover {
  color: var(--fontcolor-pop);
}

.intro-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.intro-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 310px;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
  background-image: linear-gradient(
    to right bottom,
    rgb(var(--background-secondary)),
    rgb(var(--background-secondary))
  );
  color: var(--fontcolor-secondary);
  font-size: 0.95rem;
  text-transform: uppercase;
  border: none;
  background-position: 100% 100%;
  background-size: 100% 40px;
  background-repeat: no-repeat;
  transition: background-size 0.2s, background-position 0s 0.2s;
  box-shadow: 4px 4px 6px #0000002b;
}

.intro-btn:hover {
  color: var(--fontcolor-main);
  background-position: 100% 101%;
  background-size: 100% 2px;
  box-shadow: none;
  cursor: pointer;
}

.intro-btn:first-child {
  margin-top: auto;
}

.btn-icon {
  margin-right: 0.3rem;
}

/* TECHNOLOGIES SECTION  */

.technologies-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--background-third))
}

.technologies-section .section-title {
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.technologies-copy-container {
  width: 80%;
  max-width: 1100px;
}

.technologies-copy {
  font-size: 1.2rem;
  color: var(--fontcolor-main);
}

.stack-logos {
  display: grid;
  --gap-size: 8px;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-gap: var(--gap-size);
  column-gap: var(--gap-size);
  padding-bottom: 2rem;
}

.stack-tech-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .3rem;
  border: 1.5px solid rgb(var(--background-secondary));
}

.stack-tech-name {
  display: flex;
  align-items: center;
  font-size: .9rem;
  font-weight: 500;
}

.stack-tech-marker {
  margin-right: .5rem;
  font-size: .8rem;
  transform: rotate(45deg);
}

.tech-stack {
  display: flex;
  justify-content: center;
  width: 100%;
}

.stack-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: var(--fontcolor-main);
  transition-property: transform;
}

.stack-logos img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(1%) saturate(546%) hue-rotate(234deg)
    brightness(114%) contrast(84%);
  border-radius: 2px;
}


/* ABOUT SECTION  */

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--background-secondary));
  color: var(--fontcolor-secondary);
}

.about-title {
  color: rgb(var(--background-secondary));
  color: rgba(var(--background-secondary), 0);
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: var(--fontcolor-secondary);
}

.about-title .title-decoration {
  background-color: var(--fontcolor-secondary);
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text-container {
  max-width: 900px;
  font-size: 1.1rem;
}

.about-text {
  font-size: 1rem;
}

/* PROJECT/WORK SECTION  */

.section-title.work {
  margin-bottom: 3rem;
  color: rgb(var(--background-secondary));
  color: rgba(var(--background-secondary), 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--fontcolor-main);
}

.project-card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.project-card-container:last-child {
  margin-bottom: 2rem;
}

.projects-container section:nth-of-type(odd) {
  flex-flow: row-reverse;
}

.projects-container section:nth-of-type(odd) .project-info {
  margin-left: 1.5rem;
  margin-right: 0;
}

.projects-container section:nth-of-type(even) .project-info {
  margin-left: 0;
  margin-right: 1.5rem;
}

.project-title {
  padding: 1rem;
  margin-bottom: 1rem;
  color: rgb(var(--fontcolor-main));
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
  border-radius: 0.4rem;
  z-index: 10;
}

.project-card {
  background-color: transparent;
  height: 600px;
  border-radius: 0.4rem;
}

.project-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  object-fit: cover;
  object-position: 0 100%;
}

.project-desc {
  font-size: 1.1rem;
  color: var(--fontcolor-main);
}

.project-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  text-align: center;
  border: 1px solid rgb(var(--background-secondary));
}

.proj-tech-header {
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 2.5rem;
  background-color: rgb(var(--background-secondary));
  border: 1px solid rgb(var(--background-secondary));
  color: var(--fontcolor-secondary);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
}

.proj-tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: rgba(var(--background-primary));
  font-size: 1rem;
  border: 2px solid var(--fontcolor-accent);
  border-top: none;
}

.project-tech {
  margin: 0.1rem 0.3rem;
}

.tech-icon {
  width: 35px;
  height: 35px;
  margin-right: 8px;
  filter: invert(17%) sepia(16%) saturate(835%) hue-rotate(167deg)
    brightness(95%) contrast(88%);
}

.project-tech:hover .tech-icon {
  cursor: pointer;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  margin: 0 0.35rem;
  background-image: linear-gradient(
    to right bottom,
    rgb(var(--background-secondary)),
    rgb(var(--background-secondary))
  );
  color: var(--fontcolor-secondary);
  font-size: 0.95rem;
  text-transform: uppercase;
  border: none;
  background-position: 100% 100%;
  background-size: 100% 40px;
  background-repeat: no-repeat;
  transition: background-size 0.2s, background-position 0s 0.2s;
  box-shadow: 4px 4px 6px #0000002b;
}

.project-btn:hover {
  color: var(--fontcolor-main);
  background-position: 100% 101%;
  background-size: 100% 1.7px;
  box-shadow: none;
  cursor: pointer;
}

/* CONTACT SECTION  */

.contact-section {
  width: 100%;
  /* height: calc(100vh - 72.01px); */
  padding-bottom: 0.2rem;
  background-color: rgb(var(--background-secondary));
  color: var(--fontcolor-secondary);
}

.contact-section .section-title {
  color: rgb(var(--background-primary));
  color: rgba(var(--background-primary), 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--fontcolor-secondary);
}

.contact-section .title-decoration {
  background-color: var(--fontcolor-secondary);
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-copy {
  width: 315px;
  max-width: 650px;
  margin-right: 1.5rem;
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.4rem;
  width: 55%;
}

.contact-form input,
.contact-form textarea {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--fontcolor-secondary);
  border-radius: 0;
  -webkit-appearance: none;
}

.contact-form textarea {
  padding: 0.7rem 1rem;
}

.contact-form select::placeholder,
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: "Mulish", sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--fontcolor-secondary);
  font-weight: 300;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.contact-form input,
.contact-form select {
  padding: 0.7rem 1rem;
  margin-bottom: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(var(--background-primary));
  border-radius: 0;
  -webkit-appearance: none;
}

.contact-form input.input-error,
.contact-form select.input-error {
  border: none;
  border-bottom: 2px solid #d20c0c;
}

.contact-form textarea.input-error {
  border: 2px solid #d20c0c;
}

.contact-form .emailField {
  width: 100%;
}

.contact-form textarea {
  min-width: 100%;
  max-width: 100%;
  height: 227px;
  margin: 0 0 1rem;
  border: 2px solid rgba(var(--background-primary));
  background-color: transparent;
  resize: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.contact-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.contact-btn-style {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-image: linear-gradient(
    rgb(var(--background-primary)),
    rgb(var(--background-primary))
  );
  color: var(--fontcolor-secondary);
  font-size: 1rem;
  border: none;
  background-position: 100% 100%;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s;
}

.contact-btn-style:hover {
  color: var(--fontcolor-main);
  background-position: 100% 101%;
  background-size: 100% 55px;
  cursor: pointer;
}

.form-row-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-row-name > * {
  width: 49%;
}

.thank-you-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(40% - 125px);
  left: calc(50% - 162.5px);
  width: 325px;
  height: 250px;
  border-radius: 0.4rem;
  text-align: center;
  background-color: rgb(var(--background-primary), 0.92);
  color: var(--fontcolor-main);
  box-shadow: 2px 2px 5px #4242423d;
  z-index: 10;
  -webkit-animation: 0.2s ease 0s normal forwards 1 fadein;
  animation: 0.2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.checkmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  border-radius: 50%;
}

.thank-you-pop-checkmark {
  font-size: 4rem;
  color: var(--fontcolor-dark-secondary);
}

.thank-you-pop-error {
  font-size: 4rem;
  color: #d20c0c;
}

.thank-you-pop-checkmark-background {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0%;
  background-color: rgb(var(--background-primary));
  border-radius: 50%;
}

.thank-you-copy {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
}

.thank-you-copy.success {
  font-size: 2.2rem;
}

.required-field-note {
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.required-field-note span {
  color: #d20c0c;
  font-size: 1.2rem;
  margin-right: 0.3rem;
}

/* FOOTER SECTION  */

.footer {
  width: 100%;
  padding: .4rem 0;
  margin-top: auto;
  font-size: 0.65rem;
  font-weight: 200;
  text-align: center;
  color: var(--fontcolor-secondary);
}

/* MOBILE STYLING */

@media screen and (max-width: 1100px) {
  .section-title {
    font-size: 2rem;
  }

  .section-container .intro-content {
    flex-direction: column;
    max-width: 600px;
  }

  .intro-greeting {
    justify-content: center;
  }

  .intro-text-container-left {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }
  
  .intro-text-container-right .paragraph-text {
    margin-bottom: 1.4rem;
    text-align: center;
  }
  
  .projects-container {
    width: 100%;
  }

  .project-card-container {
    width: 100%;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 3rem;
  }

  .project-info, 
  .project-card, 
  .project-image {
    width: 100%;
    max-width: none;
  }
  
  .projects-container section:nth-of-type(odd) {
    flex-flow: column-reverse;
  }
  
  .projects-container section:nth-of-type(odd) .project-info {
    margin-top: 1.5rem;
    margin-left: 0;
  }
  
  .projects-container section:nth-of-type(even) .project-info {
    margin-top: 1.5rem;
    margin-right: 0;
  }

  .project-card {
    max-height: 400px;
  }
}

@media screen and (max-width: 850px) {
  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .section-container span {
    width: 100%;
    max-width: 1100px;
    padding: 2rem 1.5rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .intro-content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .about-content {
    padding: 0;
  }

  .contact-content {
    flex-direction: column;
    padding: 0;
  }

  .contact-content > * {
    width: 100%;
  }

  .contact-copy {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .main-nav, 
  .main-nav-right {
    display: none;
  }

  .nav-logo {
    width: 50px;
  }
  
  .mobile-nav {
    display: flex;
  }

  .mobile-nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--background-primary));
    text-transform: capitalize;
    width: 100%; 
    height: 100vh;
    overflow-y: scroll;
    overflow: hidden;
    z-index: 9;
    left: 0;
    opacity: .7;
    height: 50vh;
    top: -100vh;
    transition: all 0.4s linear;
  }

  .mobile-nav-container a {
    margin-left: 0;
    font-size: 1.27rem;
    margin-bottom: .5rem;
  }
  
  .show-mobile-nav {
    opacity: 1;
    top: 0;
    height: 100vh;
  }
  
  .socials-mobile-nav {
    display: flex;
    margin: 2.5rem 0 1rem;

  }

  .socials-mobile-nav .social-link {
    margin: 0 .25rem;
  }

  /* FOOTER SECTION  */

  .footer {
    padding: 2rem 0 .4rem;
  }
}

@media screen and (max-width: 550px) {
  .intro-greeting,
  #dark-mode .intro-greeting {
    font-size: 1.8rem;
  }

  .greeting-name,
  #dark-mode .greeting-name {
    flex-direction: column;
    padding-top: 3rem;
    font-size: 4.8rem;
  }

  .greeting-name .pulse,
  #dark-mode .greeting-name .pulse {
    margin-bottom: -2rem;
    font-size: 4.8rem;
  }

  .stack-logos,
  #dark-mode .stack-logos {
    padding: 0 2rem;
  }

}

/*****
  Dark Mode Styles
*****/

body#dark-mode {
  min-height: 100vh;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  background-attachment: fixed;
  background-color: rgb(var(--background-dark-primary));
  color: var(--fontcolor-dark-main);
  overscroll-behavior-y: none;
}



.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

#dark-mode .nav-container {
  color: var(--fontcolor-dark-main);
  border-bottom: rgb(var(--background-dark-secondary)) 1px solid;
}

#dark-mode .nav-container.no-background {
  background-color: rgba(var(--background-dark-primary), 0);
}

#dark-mode .nav-container.nav-shadow {
  background-color: rgba(var(--background-dark-primary), 0.85);
  box-shadow: 2px 2px 5px #00000010;
}

#dark-mode .nav-container a {
  color: var(--fontcolor-dark-main);
}

#dark-mode .nav-container a:hover {
  color: var(--fontcolor-pop);
}

#dark-mode .social-link img {
  filter: invert(96%) sepia(3%) saturate(630%) hue-rotate(52deg)
    brightness(105%) contrast(93%);
}

#dark-mode .social-link img:hover {
  -webkit-filter: invert(21%) sepia(63%) saturate(4118%) hue-rotate(343deg)
    brightness(78%) contrast(107%);
  filter: invert(21%) sepia(63%) saturate(4118%) hue-rotate(343deg)
    brightness(78%) contrast(107%);
}

#dark-mode  .mobile-nav-container {
  background-color: rgb(var(--background-dark-primary));
}

#dark-mode .burger-lines {
  background-color: rgb(var(--background-dark-secondary));
}

#dark-mode .intro-greeting {
  color: var(--fontcolor-dark-main);
}

#dark-mode .greeting-name {
  color: rgb(var(--background-dark-secondary));
  color: rgba(var(--background-dark-secondary), 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--fontcolor-dark-main);
}

#dark-mode .greeting-name > a {
  color: rgb(var(--background-dark-secondary));
  color: rgba(var(--background-dark-secondary), 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--fontcolor-dark-main);
}

#dark-mode .greeting-name > a:hover {
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: var(--fontcolor-pop);
}

#dark-mode .pulse:hover {
  color: var(--fontcolor-pop);
}

#dark-mode .intro-btn {
  background-image: linear-gradient(
    to right bottom,
    rgb(var(--background-dark-secondary)),
    rgb(var(--background-dark-secondary))
  );
  color: var(--fontcolor-dark-secondary);
}

#dark-mode .intro-btn:hover {
  color: var(--fontcolor-dark-main);
}

#dark-mode .proj-tech-header {
  background-color: rgb(var(--background-secondary));
  border: 1px solid rgb(var(--background-dark-secondary));
}

#dark-mode .project-info {
  border: 1px solid rgb(var(--background-dark-secondary));
}

#dark-mode .project-btn {
  background-image: linear-gradient(
    to right bottom,
    rgb(var(--background-dark-secondary)),
    rgb(var(--background-dark-secondary))
  );
  color: var(--fontcolor-dark-secondary);
}

#dark-mode .project-btn:hover {
  color: var(--fontcolor-dark-main);
}

#dark-mode .about-section {
  background-color: rgb(var(--background-dark-primary));
}

#dark-mode .technologies-section {
  background-image: linear-gradient(
    to right bottom,
    rgb(var(--background-dark-third)),
    rgb(var(--background-dark-third))
  );
}

#dark-mode .title-decoration {
  background-color: var(--fontcolor-secondary);
}

#dark-mode .section-title.work {
  margin-bottom: 3rem;
  color: rgb(var(--background-dark-primary));
  color: rgba(var(--background-dark-primary), 0);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--fontcolor-dark-main);
}

#dark-mode .contact-section {
  background-color: rgb(var(--background-dark-primary));
}
