@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
}

:root {
  font-size: 17px;
  --background-primary: 217, 221, 230;
  --background-primary-dark: 168, 170, 175;
  --background-secondary: 10, 115, 137;
  --background-third: 124, 114, 135;
  --background-accent:225, 175, 72;
  --background-project-card: 212, 217, 226;
  --background-dark: 93, 85, 101;
  --background-dark-secondary: 6, 61, 72;
  --background-dark-third: 93, 85, 101;
  --background-dark-accent: 243, 182, 31;
  --background-dark-project-card: 76, 68, 83;

  --fontcolor-main: #0a7389;
  --fontcolor-secondary: #d9dde6;
  --fontcolor-accent: #F3B61F;
  --fontcolor-pop: rgb(203, 18, 34);
  --fontcolor-dark-main: #fbfffe;
  --fontcolor-dark-background: #1b1b1e;
  --fontcolor-dark-secondary: #F3B61F;
  --fontcolor-dark-accent: #706b71;
  
  --main-transition: all .1s ease-in-out;
  --box-shadow1: rgba(0, 0, 0, 0.4) 3px 3px 8px;
  --box-shadow2: rgba(0, 0, 0, 0.4) 5px 5px 22px;
  --box-shadow-dark-mode: rgba(185, 184, 184, 0.2) 3px 3px 8px;
  --box-shadow-nav: rgba(172, 172, 172, 0.2) 2px 2px 5px;
}

body {
  min-height: 100vh;
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  line-height: 1.4;
  background-attachment: fixed;
  background-color: rgba(var(--background-primary));
  color: var(--fontcolor-main);
  overscroll-behavior-y: none;
}

.fixed-position {
  overflow: hidden;
}

.master-container {
  max-width: 2400px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 5;
}

.paragraph-text {
  padding-bottom: .5rem;
  line-height: 1.3;
}

/* SECTION STYLES  */

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-container span {
  width: 80%;
  max-width: 1100px;
  padding: 3rem 0;
}

.section-title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: var(--fontcolor-main)
}

.title-decoration {
  height: 2px;
  background-color: var(--fontcolor-main);
}

#intro,
#technologies,
#about,
#work,
#contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.about-content,
.contact-content {
  padding: 1rem 3rem;
}

/* NAV STYLES  */

.nav-logo {
  width: 62px;
}

.nav-container.no-background {
  background-color: rgba(var(--background-primary), 0);
}

.nav-container.nav-shadow {
  background-color: rgba(var(--background-primary), 0.7);
  box-shadow: 2px 2px 5px #00000010;
}

.dark-mode-toggle {
  position: absolute;
  top: 17px;
  left: 25px;
  border: 1.5px solid;
  padding: 2px 11px;
  margin-bottom: 3px;
  cursor: pointer;
  transition: all .2s ease-out;
}

.dark-mode-toggle:hover {
  color: var(--fontcolor-pop);
  border-radius: .3rem;
}

.hamburger {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.burger-lines {
  background-color: rgb(var(--background-secondary));
  height: 3px;
  width: 35px;
  margin-bottom: 7px;
  border-radius: 3px;
  transition: all 0.2s linear;
}

.burger-lines:nth-child(1) {
  margin-top: 7px;
}

.animate-burger:nth-child(1) {
  transform: rotate(45deg) translate(9px, 6px);
}

.animate-burger:nth-child(2) {
  transform: translateX(-100px);
  opacity: 0;
}

.animate-burger:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -6px);
}

.mobile-nav-link {
  color: var(--fontcolor-main);
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 6px;
  font-size: 1.5rem;
  margin-bottom: 30px;
  transition: all .3s;
}

.mobile-nav-link:hover {
  color: var(--fontcolor-pop);
}

.mobile-nav-link.dark-mode-toggle {
  margin-bottom: 0;
  font-size: 1rem;
  transition: all .2s ease-out;
}

.email {
  display: none;
}

.social-link img {
  -webkit-filter: invert(46%) sepia(6%) saturate(307%) hue-rotate(244deg) brightness(90%) contrast(92%);
  filter: invert(14%) sepia(74%) saturate(6328%) hue-rotate(349deg) brightness(81%) contrast(94%);
  height: 25px;
  width: 25px;
  cursor: pointer;
  transition: all .2s ease;
}

.social-link img:hover {
  transform: scale(1.2);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 2400px;
}

.mobile-nav {
  display: none;
}

.main-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  text-transform: uppercase;
  font-size: .95rem;
}

.nav-link {
  text-decoration: none;
  color: var(--fontcolor-main);
  margin-left: 25px;
  padding-bottom: 3px;
  background-image: linear-gradient(var(--fontcolor-pop), var(--fontcolor-pop));
  background-position: 0 100%;
  background-size: 0% 1.5px;
  background-repeat: no-repeat;
  transition:
    background-size 0.2s,
    background-position 0s 0.2s;
}

.nav-link:hover {
  color: var(--fontcolor-pop);
  background-position: 100% 100%;
  background-size: 100% 1.5px;
}

.dark-mode-toggle {
  position: relative;
  top: 0;
  left: 0;
  font-size: .85rem;
  margin-left: 25px;
}

.socials-mobile {
  display: none;
}

.socials-mobile img {
  -webkit-filter: invert(95%) sepia(7%) saturate(290%) hue-rotate(188deg) brightness(91%) contrast(98%);
  filter: invert(95%) sepia(7%) saturate(290%) hue-rotate(188deg) brightness(91%) contrast(98%);
  margin: 3rem 1rem 1rem;
}

.socials-mobile img:hover {
  -webkit-filter: invert(23%) sepia(80%) saturate(4294%) hue-rotate(343deg) brightness(77%) contrast(108%);
  filter: invert(23%) sepia(80%) saturate(4294%) hue-rotate(343deg) brightness(77%) contrast(108%);
}


.socials-desktop {
  display: block;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: calc(50% - 175px);
  left: 30px;
  height: 350px;
  width: 62px;
  background-color: rgb(var(--background-primary), .8);
  box-shadow: 2px 2px 12px #0000002b;
  z-index: 10;
}


/* INTRO SECTION  */

.intro-section {
  position: relative;
  height: 100vh;
  max-height: 1400px;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.intro-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .3;
  /* background-color: rgba(var(--background-primary)); */
  z-index: -10;
}

.intro-content {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(175px, 300px) minmax(200px, 1fr) minmax(175px, 300px);
}

.intro-text-container-left,
.intro-text-container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.06rem;
  height: 220px;
  min-width: 280px;
}

.intro-logo-container {
  border-radius: 1rem;
  margin: 1rem;
}

.intro-logo {
  align-self: center;
  width: 100%;
  padding: 1.5rem;
  animation: logo-rotate 6s both infinite;
}

@keyframes logo-rotate {
  0% { 
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.intro-greeting {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-family: 'Playfair Display', serif;
  font-size: 2.4rem;
  line-height: .5;
}

.intro-greeting.name {
  cursor: pointer;
}

.pulse {
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 12px;
  color: var(--fontcolor-pop);
  overflow: hidden;
  transition: color .2s ease-out;
  animation: pulse 1.2s infinite;
  cursor: pointer;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.055);
  }
  100% {
      transform: scale(1);
  }
}

.pulse:hover {
  color: var(--fontcolor-accent);
}

.intro-btn-container {
  display: flex;
  flex-direction: column;
}

.intro-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5rem;
  margin-bottom: .7rem;
  background-image: linear-gradient(to right bottom, rgb(var(--background-secondary), .7),rgb(var(--background-secondary)));
  color: var(--fontcolor-secondary);
  font-size: .95rem;
  text-transform: uppercase;
  border: none;
  background-position: 100% 100%;
  background-size: 100% 40px;
  background-repeat: no-repeat;
  transition:
    background-size 0.2s,
    background-position 0s 0.2s;
  box-shadow: 4px 4px 6px #0000002b;
}

.intro-btn:hover {
  color: var(--fontcolor-main);
  background-position: 100% 101%;
  background-size: 100% 2px;
  box-shadow: none;
  cursor: pointer;
}

.intro-btn:first-child {
  margin-top: auto;
}

.btn-icon {
  margin-right: .3rem;
}



/* TECHNOLOGIES SECTION  */

.technologies-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  background-image: linear-gradient(to right bottom, rgb(var(--background-secondary), .7), rgb(var(--background-secondary)));
}

.technologies-section span {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.technologies-copy-container {
  width: 80%;
  max-width: 1100px;
}

.technologies-copy {
  font-size: 1.2rem;
  color: var(--fontcolor-secondary)
}

.tech-stack {
  display: flex;
  justify-content: center;
  width: 100%;
}

.stack-logos {
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: 0rem;
  --duration: 10s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
  display: flex;
  overflow: hidden;
  width: 100%;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.stack-logos-ticker {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

.stack-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 127px;
  height: 77px;
  padding: .7rem 1.5rem;
  margin: 1rem 1rem 1rem 0;
  background-color: var(--fontcolor-accent);
  border-radius: .4rem;
  transition-property: transform;
}

@keyframes logo-rotate {
  from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

.stack-logos img {
  width: 100%;
  height: 100%;
  filter: invert(100%) sepia(1%) saturate(546%) hue-rotate(234deg) brightness(114%) contrast(84%);
  border-radius: .4rem;
}

/* ABOUT SECTION  */

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
  background-image: linear-gradient(to right bottom, rgb(var(--background-third), .7) 10%, rgb(var(--background-third)) 45%, rgb(var(--background-third)) 45%);
  color: var(--fontcolor-accent);
}

.about-title {
  color: var(--fontcolor-accent);
}

.about-title .title-decoration {
  background-color: var(--fontcolor-accent);
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text-container {
  max-width: 900px;
  font-size: 1.1rem;
}


/* PROJECT/WORK SECTION  */

.projects {
  margin-top: 50px;
}

.project-card-mobile-container {
  display: none;
}

.project-card-desktop-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
}

.projects-container section:nth-of-type(odd){
  flex-flow: row-reverse;
}

.projects-container section:nth-of-type(odd) .project-info {
  margin-left: 1.5rem;
  margin-right: 0;
}

.projects-container section:nth-of-type(even) .project-info {
  margin-left: 0;
  margin-right: 1.5rem;
}

.project-title {
  position: absolute;
  padding: 1rem;
  margin: 0 2rem;
  background-color: var(--fontcolor-accent);
  color: rgb(var(--background-secondary));
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.1;
  border-radius: .4rem;
  z-index: 10;
}

.project-card {
  background-color: transparent;
  max-width: 650px;
  width: 650px;
  height: 400px;
  perspective: 1000px; 
  border-radius: .4rem;
  animation: all 3s ease-in-out;
}

.project-card-front:before {
  content: "";
  position: absolute;
  border-radius: .4rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(var(--background-project-card), .75);
  z-index: 10;
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card:hover {
  box-shadow: none;
}

.project-card-front, .project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  box-shadow: 6px 6px 10px #0000002b;
}

.project-card-front {
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: .4rem;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-card-back {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgb(var(--background-third), .8);
  transform: rotateY(180deg);
  border-radius: .4rem;
  z-index: 11;
}

.project-desc {
  position: relative;
  font-size: 1.1rem;
  color: var(--fontcolor-secondary);
  margin-bottom: 15px;
}

.project-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 300px;
  text-align: center;
}

.proj-tech-header {
  width: 100%;
  padding: .5rem 1rem;
  background-color: rgb(var(--background-secondary));
  color: var(--fontcolor-secondary);
  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  font-weight: 200;
}

.proj-tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5rem 1rem;
  background-color: rgba(var(--background-primary));
  font-size: 1rem;
  border: 2px solid rgb(var(--background-secondary));
}

.project-tech {
  margin: .1rem .3rem;
}

.btn-container {
 display: flex;
 justify-content: space-between;
 width: 80%;
 margin-top: 2rem;
}

.project-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5rem;
  margin: 0 .35rem;
  background-image: linear-gradient(to right bottom, rgb(var(--background-dark-accent), .7), rgb(var(--background-dark-accent)));
  color: rgb(var(--background-third));
  font-size: .95rem;
  text-transform: uppercase;
  border: none;
  background-position: 100% 100%;
  background-size: 100% 40px;
  background-repeat: no-repeat;
  transition:
    background-size 0.2s,
    background-position 0s 0.2s;
  box-shadow: 4px 4px 6px #0000002b;
}

.project-btn:hover {
  color: var(--fontcolor-accent);
  background-position: 100% 101%;
  background-size: 100% 2px;
  box-shadow: none;
  cursor: pointer;
}






/* CONTACT SECTION  */


.contact-section {
  width: 100%;
  height: calc(100vh - 70px);
  min-height: 730px;
  padding-bottom: .2rem;
  background-image: linear-gradient(to right bottom, rgb(var(--background-secondary), .7) 10%, rgb(var(--background-secondary)) 45%, rgb(var(--background-secondary)) 45%);
  color: var(--fontcolor-secondary);
}

.contact-section .section-title {
  color: var(--fontcolor-secondary)
}

.contact-section .title-decoration {
  background-color: var(--fontcolor-secondary)
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-copy {
  width: 315px;
  max-width: 650px;
  margin-right: 1.5rem;
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .4rem;
  width: 55%;
}

.contact-form input,
.contact-form textarea {
  font-family: 'Mulish', sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--fontcolor-secondary);
  border-radius: 0;
  -webkit-appearance: none;
}

.contact-form textarea {
  padding: .7rem 1rem;
}

.contact-form select::placeholder,
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-family: 'Mulish', sans-serif;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--fontcolor-secondary);
  font-weight: 300;
}

.contact-form input:focus, 
.contact-form select:focus, 
.contact-form textarea:focus {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
} 

.contact-form input, 
.contact-form select {
  padding: .7rem 1rem;
  margin-bottom: 1.5rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(var(--background-primary));
  border-radius: 0;
  -webkit-appearance: none;
}

.contact-form input.input-error,
.contact-form select.input-error
{
  border: none;
  border-bottom: 2px solid #d20c0c;
}

.contact-form textarea.input-error {
  border: 2px solid #d20c0c;
}

.contact-form .emailField {
  width: 100%;
}

.contact-form textarea {
  min-width: 100%;
  max-width: 100%;
  height: 227px;
  margin: 0 0 1rem;
  border: 2px solid rgba(var(--background-primary));
  background-color: transparent;
  resize: none;
  border-radius: 0;
  -webkit-appearance: none;
}

.contact-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.contact-btn-style {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-image: linear-gradient(rgb(var(--background-primary)), rgb(var(--background-primary)));
  color: var(--fontcolor-secondary);
  font-size: 1rem;
  border: none;
  background-position: 100% 100%;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.contact-btn-style:hover {
  color: var(--fontcolor-main);
  background-position: 100% 101%;
  background-size: 100% 55px;
  cursor: pointer;
}

.form-row-name {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-row-name > * {
  width: 49%;
}

.thank-you-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: calc(40% - 125px);
  left: calc(50% - 162.5px);
  width: 325px;
  height: 250px;
  border-radius: .4rem;
  text-align: center;
  background-color: rgb(var(--background-primary), .92);
  color: var(--fontcolor-main);
  box-shadow: 2px 2px 5px #4242423d;
  z-index: 10;
  -webkit-animation: .2s ease 0s normal forwards 1 fadein;
    animation: .2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

.checkmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
  border-radius: 50%;
}

.thank-you-pop-checkmark {
  font-size: 4rem;
  color: var(--fontcolor-dark-secondary);
}

.thank-you-pop-error {
  font-size: 4rem;
  color: #d20c0c;
}

.thank-you-pop-checkmark-background {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0%;
  background-color: rgb(var(--background-primary));
  border-radius: 50%;
}

.thank-you-copy {
  display: inline-block;
  padding: 0 1rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2;
}

.thank-you-copy.success {
  font-size: 2.2rem;
}

.required-field-note {
  display: flex;
  align-items: center;
  align-self: flex-start;
  font-size: .8rem;
  margin-bottom: 1rem;
}

.required-field-note span {
  color: #d20c0c;
  font-size: 1.2rem;
  margin-right: .3rem
}

/* FOOTER SECTION  */

.footer {
  width: 100%;
  padding: .4rem;
  margin-top: auto;
  font-size: .7rem;
  font-weight: 200;
  text-align: center;
  color: var(--fontcolor-secondary)
}

/*****
  Dark Mode Styles
*****/

body#dark-mode {
  background-color: rgb(var(--background-dark));
  color: var(--fontcolor-dark-main);
}

#dark-mode .intro-background {
  opacity: .3;
}

#dark-mode .intro-greeting {
  color: var(--fontcolor-dark-main);
}

#dark-mode .socials-desktop {
  display: block;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  top: calc(50% - 175px);
  left: 30px;
  height: 350px;
  width: 62px;
  background-color: rgb(var(--background-dark), .65);
  box-shadow: 2px 2px 12px #0000002b;
  z-index: 10;
}

#dark-mode .nav-container {
  background-color: rgba(var(--background-dark), 0.7);
}

#dark-mode .nav-container.nav-shadow {
  box-shadow: #000;
}

#dark-mode .nav-container.nav-container.no-background {
  background-color: rgba(var(--background-dark), 0);
}

#dark-mode .nav-container .mobile-nav .mobile-nav-link,
#dark-mode .nav-container .mobile-nav .mobile-nav-link .dark-mode-toggle {
  color: var(--fontcolor-dark-main);
}

#dark-mode .mobile-nav-link.dark-mode-toggle {
  transition: all .2s ease-out;
}

#dark-mode .nav-container .main-nav .nav-link {
  color: var(--fontcolor-dark-main);
}

#dark-mode .nav-container .main-nav .nav-link:hover {
  color: var(--fontcolor-pop);
  background-position: 100% 100%;
  background-size: 100% 1.5px;
}

#dark-mode .nav-container .main-nav .dark-mode-toggle {
  color: var(--fontcolor-dark-main);
}

#dark-mode .nav-container .main-nav .dark-mode-toggle:hover {
  color: var(--fontcolor-pop);
}

#dark-mode .mobile-nav .mobile-nav-container {
  background-color: rgba(var(--background-dark));
}

#dark-mode .mobile-nav .mobile-nav-container .mobile-nav-link:hover {
  color: var(--fontcolor-pop);
}

#dark-mode .burger-lines {
  background-color: var(--fontcolor-dark-main);
}

#dark-mode .social-link img {
  -webkit-filter: invert(94%) sepia(0%) saturate(2849%) hue-rotate(94deg) brightness(106%) contrast(100%);
  filter: invert(94%) sepia(0%) saturate(2849%) hue-rotate(94deg) brightness(106%) contrast(100%);
}


#dark-mode .intro-btn {
  background-image: linear-gradient(to right bottom, rgb(var(--background-dark-secondary), .5), rgb(var(--background-dark-secondary)));
  color: var(--fontcolor-secondary);
}

#dark-mode .intro-btn:hover {
  color: rgb(var(--background-dark-secondary));
  background-position: 100% 101%;
  background-size: 100% 2px;
  box-shadow: none;
  cursor: pointer;
}

#dark-mode .technologies-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  background-image: linear-gradient(to right bottom, rgb(var(--background-dark-secondary), .7), rgb(var(--background-dark-secondary)));
}

#dark-mode .about-section {
  background-image: linear-gradient(to right bottom, rgb(var(--background-dark-third), .3) 10%, rgb(var(--background-dark-third)) 55%, rgb(var(--background-dark-third)) 45%);
  color: var(--fontcolor-accent);
}

#dark-mode .work.section-container h3
 {
  color: var(--fontcolor-dark-main);
}

#dark-mode .work.section-container .title-decoration
 {
  background-color: var(--fontcolor-dark-main);
}

#dark-mode .proj-tech-header {
  background-color: rgb(var(--background-dark-secondary));
  color: var(--fontcolor-secondary);
}

#dark-mode .proj-tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: .5rem 1rem;
  background-color: rgba(var(--background-dark), .3);
  font-size: 1rem;
  border: 2px solid rgb(var(--background-dark-secondary));
}

#dark-mode .project-image {
 opacity: .8;
}

#dark-mode .project-title {
  position: absolute;
  padding: 1rem;
  margin: 0 2rem;
  background-color: var(--fontcolor-accent);
  color: rgb(var(--fontcolor-dark-main), .9);
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1.1;
  border-radius: .4rem;
  z-index: 10;
}

#dark-mode .project-card {
  background-color: transparent;
  max-width: 650px;
  width: 650px;
  height: 400px;
  perspective: 1000px; 
  border-radius: .4rem;
  animation: all 3s ease-in-out;
}

#dark-mode .project-card-front:before {
  content: "";
  position: absolute;
  border-radius: .4rem;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(var(--background-dark-project-card), .8);
  z-index: 10;
}

#dark-mode .project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#dark-mode .project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

#dark-mode .project-card:hover {
  box-shadow: none;
}

#dark-mode .project-card-front, 
#dark-mode .project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  box-shadow: 6px 6px 10px #0000002b;
}

#dark-mode .project-card-front {
  border-radius: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--background-dark-project-card), .8);
}

#dark-mode .project-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: .4rem;
  background-size: cover;
  background-repeat: no-repeat;
}

#dark-mode .project-card-back {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: rgb(var(--background-dark-secondary), .8);
  transform: rotateY(180deg);
  border-radius: .4rem;
  z-index: 11;
}

#dark-mode .project-btn {
  color: rgb(var(--background-dark-third));
}

#dark-mode .project-btn:hover {
  color: rgb(var(--background-dark-accent));
}

#dark-mode .contact-section {
  background-image: linear-gradient(to right bottom, rgb(var(--background-dark-secondary), .7), rgb(var(--background-dark-secondary)));
}

#dark-mode .contact-btn-style:hover {
  color: rgb(var(--background-dark-secondary));
}


@media screen and (max-width: 1100px) {

  .intro-section {
    height: auto;
    max-height: auto;
  }

  .intro-section .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 4rem;
  }

  .intro-greeting {
    font-size: 3.4rem;
    justify-content: center;
    line-height: 1;
  }

  .bottom-greeting {
    margin-bottom: 1.5rem;
  }

  .pulse {
    height: 60px;
    margin-right: 18px;
  }

  .intro-text-container-left,
  .intro-text-container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    height: 220px;
    min-width: 280px;
  }

  .intro-btn-container {
    width: 100%;
    flex-direction: row;
  }

  .intro-btn {
    padding: .75rem 0 ;
    margin: 0 .25rem;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 1000px) {
  .project-card-desktop-container {
    display: none;
  }

  .project-card-mobile-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin-bottom: 5rem;
  }

  .project-info {
    width: 100%;
    max-width: 650px;
    margin-top: 1rem;
  }

  .project-desc {
    max-height: 200px;
    overflow-y: scroll;
  }

  .project-card,
  .project-card-inner,
  .project-card-front,
  .project-card-back,
  .project-image {
    width: 100%;
  }

  #dark-mode .project-card-inner,
  #dark-mode .project-card,
  #dark-mode .project-card-front,
  #dark-mode .project-card-back,
  #dark-mode .project-image {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {

  .intro-section,
  .section-container span {
    width: 100%;
    padding: 2rem;
  }

  .intro-section {
    width: 100%;
    padding: 4rem 2rem 0rem;
  }

  .socials-desktop {
    display: none;
  }

  #dark-mode .socials-desktop {
    display: none;
  }

  .about-content,
  .contact-content {
    padding: 0rem;
  }

  .contact-copy {
    width: 100%;
    margin-right: 0rem;
    margin-bottom: 2rem;
  }

  .contact-content {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }

  .project-card-desktop-container {
    display: none;
  }


}

@media screen and (max-width: 768px) {

  .main-nav {
    display: none;
  }
  
  .nav-logo {
    height: 50px;
  }
  
  .mobile-nav {
    display: flex;
    
  }
  
  .mobile-nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(var(--background-primary));
    text-transform: uppercase;
    width: 100%; 
    height: 100vh;
    overflow-y: scroll;
    overflow: hidden;
    z-index: 9;
    left: 0;
    opacity: .7;
    height: 50vh;
    top: -100vh;
    transition: all 0.4s linear;
  }
  
  .show-mobile-nav {
    opacity: 1;
    top: 0;
    height: 100vh;
  }
  
  .socials-mobile {
    display: flex;
    justify-content: center;
  }
  
  .socials-mobile-nav {
    display: flex;
    margin-bottom: 2rem;
  }
  
  .socials-mobile-nav .social-link img {
    margin: 5px 20px;
    webkit-filter: invert(32%) sepia(87%) saturate(783%) hue-rotate(151deg) brightness(89%) contrast(92%);
    filter: invert(32%) sepia(87%) saturate(783%) hue-rotate(151deg) brightness(89%) contrast(92%);
  }

  .socials-mobile-nav .social-link img:hover {
    webkit-filter: invert(23%) sepia(80%) saturate(4294%) hue-rotate(343deg) brightness(77%) contrast(108%);
    filter: invert(23%) sepia(80%) saturate(4294%) hue-rotate(343deg) brightness(77%) contrast(108%);
  }

  #dark-mode .socials-mobile-nav .social-link img:hover {
    webkit-filter: invert(23%) sepia(80%) saturate(4294%) hue-rotate(343deg) brightness(77%) contrast(108%);
    filter: invert(23%) sepia(80%) saturate(4294%) hue-rotate(343deg) brightness(77%) contrast(108%);
  }

  .intro-section .intro-content {
    padding: 4rem 0rem;
  }

  .intro-logo {
    align-self: center;
    width: 100%;
    padding: 2rem;
    animation: logo-rotate 6s both infinite;
  }

  .intro-btn-container {
    flex-direction: column;
    margin: 2rem 0;
  }

  .intro-btn {
    margin: .5rem 0
  }

  .contact-section {
    min-height: 100%;
    height: 100%;
  }
}



@media screen and (max-width: 500px) {

  .intro-greeting {
    font-size: 2.5rem;
    justify-content: center;
    line-height: .7;
  }

}

